main{
}

.rectangle{
    background: rgb(108, 110, 108);
    height: 200px;
    width: 100%;
    margin: 20px;
}

  

#bloc{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 1200px;
    height: 800px;
    margin: auto;
}


.toasts,.pizza{
    width: 570px;
    height: 321px;
    background: rgb(141, 141, 140);
    margin: 10px;
    background: linear-gradient( rgb(182, 182, 182), rgb(0, 0, 0));
}

.burgers1, .burgers2{
    width: 570px;
    height: 321px;
    background: rgb(141, 141, 140);
    margin: 10px;
    background: linear-gradient( rgb(182, 182, 182), rgb(0, 0, 0));
}

h1{
    color: white;
    background: orange;
    width: 60px;
    margin: 50px;
    font-size: 20px;
}

h2{
    color: white;
    margin: 10px;
}

p{
    color: rgb(255, 187, 0);
    margin: 10px;
}

.texte1, .texte2, .texte3, .texte4{
    color: rgb(236, 193, 107);
}

.texte1i, .texte2i, .texte3i, .texte4i{
    color: white;
}

.homei{
    padding: 50px;
    align-items: center;
    justify-content: center;
    display: flex;
}

.homeii{
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    color: white;
}

.Alignement1, .Alignement2, .Alignement3,.Alignement4{
    display: flex;
}



