main
{
    
}


.rectangle
{
height: 200px;
width:100% ;
background: url(../images/ely.jpg);no-repeat; background-position: center;
}
h1
{
    margin-left: 44%;
}
.bloc1
{
    
      width: 200px;
        height: 200px;
        background-image: url(../images/Diop.jpg);
        background-size: cover;
        border-radius: 90%;
        overflow: hidden;
    
}
p
{
    font-size: 15px;
    color: black;
    margin-left: 20%;
}

h3
{
    font-size: 25px;
    color: red;
    margin-left: 10%;
}


.teams {
    
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
    display: flex;
   
    justify-content: center;
}

.chef {
    display: flex;
    flex-direction: column;
}

.petit img {
    height: 18px;
    padding: 5px;
    border: 1px solid black;
    border-radius: 100%;
    margin-left: 10px;
}
.aly
{
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
    display: flex;
    justify-content: center;
    margin-top: 90px;
}


